.filter-options {
    align-items: center;
    display: inline-flex;
    gap: 29px;
    padding: 0px 18px;
    position: relative;
  }
  
  .filter-options .design-component-instance-node {
    background-color: var(--primitive-neutral-white) !important;
    border-color: var(--primitive-color-neutral-black) !important;
  }
  
  .filter-options .ellipse {
    background-color: #000000;
    border-radius: 7px;
    height: 14px;
    position: relative;
    width: 14px;
  }
  
  .filter-options .filter-button {
    height: 69px !important;
    position: relative !important;
    width: 93px !important;
  }